<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="june1.db.repository.mybatis.ItemMapper">

    <!-- 데이터베이스가 identity 전략을 사용할 경우, useGeneratedKeys 를 사용 -->
    <insert id="save" useGeneratedKeys="true" keyProperty="id">
        insert into item (name, price, quantity)
        values (#{name}, #{price}, #{quantity})
    </insert>

    <update id="update">
        update item set
        name = #{dto.name},
        price = #{dto.price},
        quantity = #{dto.quantity}
        where id = #{id}
    </update>

    <select id="findById" resultType="Item">
        select
        <include refid="columns">
            <property name="dto" value="item"/>
        </include>
        from item
        where id = #{id}
    </select>

    <select id="findAll" resultMap="ItemResultMap">
        select
        <include refid="columns">
            <property name="dto" value="item"/>
        </include>
        from item
        <where>
            <if test="name != null and name != ''">
                and name like concat('%', #{name}, '%')
            </if>
            <if test="maxPrice != null">
                and price &lt;= #{maxPrice}
            </if>
        </where>
    </select>

    <sql id="columns">
        ${dto}.id,
        ${dto}.name,
        ${dto}.price,
        ${dto}.quantity
    </sql>

    <resultMap id="ItemResultMap" type="Item">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="quantity" column="quantity"/>
    </resultMap>

</mapper>